# sample ~/.mkimage/profiles.mk
# NB: REPORT doesn't work here, it's somewhat special

# where to look for apt.conf; system one used by default
#APTCONF = ~/apt/apt.conf.$(ARCH)

# turns on GLOBAL_VERBOSE and prettier output
#DEBUG = 1

# spares tmpfs, quite recommended unless you need raw workdir chroots
#CLEAN = 1

# run with lower CPU and I/O priorities
#NICE = 1

# try and draw attention when done (depends on readline/terminal settings)
#BELL = 1
