/* TWEAKS-START phosh-applist-background */
phosh-app-grid {
	background-image: url("file:///usr/share/wallpapers/mobile/720x1440/basealt-background.png");
	background-size: cover;
	background-position: center;
}
/* TWEAKS-END phosh-applist-background */
/* TWEAKS-START phosh-lockscreen-background */
phosh-lockscreen, .phosh-lockshield {
	background-image: url("file:///usr/share/wallpapers/mobile/720x1440/basealt-lockscreen.png");
	background-size: cover;
	background-position: center;
}
/* TWEAKS-END phosh-lockscreen-background */
